div {
    
}

main section article {
    width: 30%;
    display: inline-block;
}

.article-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px
}

aside{
    height:400px;
    float: right;
    background-color:green;
}